In [29]:
#pip install mysql-connector
#refer https://www.guru99.com/python-mysql-example.html
#https://pynative.com/python-mysql-database-connection/
#https://www.w3schools.com/python/python_mysql_create_db.asp
#https://pynative.com/python-mysql-insert-data-into-database-table/

In [27]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  #passwd="root"
)
print(db_connection)

# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()


# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE my_first_db")


# get list of all databases
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

<mysql.connector.connection.MySQLConnection object at 0x0000013A8AFC3E10>
('information_schema',)
('my_first_db',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [28]:
import mysql.connector
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    #passwd="root",
    database="my_first_db"
  )

db_cursor = db_connection.cursor()

#Here creating database table as student'
db_cursor.execute("CREATE TABLE student (id INT, name VARCHAR(255))")

#Get database table'
db_cursor.execute("SHOW TABLES")
for table in db_cursor:
    print(table)

('student',)

In [1]:
import mysql.connector
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    #passwd="root",
    database="my_first_db"
  )

db_cursor = db_connection.cursor()

student_sql_query = "INSERT INTO student(id,name) VALUES(01, 'John')"
#employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"

print(student_sql_query)

#Execute cursor and pass query as well as student data
db_cursor.execute(student_sql_query)
#Execute cursor and pass query of employee and data of employee
#db_cursor.execute(employee_sql_query)

db_connection.commit()
print(db_cursor.rowcount, "Record Inserted")

INSERT INTO student(id,name) VALUES(01, 'John')
1 Record Inserted